<div class="container mx-auto p-4">
  <h1 class="text-center text-3xl font-bold mb-6">Notepad RoR</h1>

  <%= turbo_frame_tag "new_note" do %>
    <div class="text-center mb-4">
      <%= link_to "+ New Note", new_note_path, class: "inline-block bg-green-500 text-white py-2 px-4 rounded-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-opacity-50" %>
    </div>
  <% end %>

  <%= turbo_frame_tag "message" do %><% end %>

  <%= turbo_frame_tag "notes" do %>
    <%= render @notes %>
  <% end %>
</div>

<%= turbo_stream_from "notes" %>
